@media(min-width: 1024px) {
    .header__logo__container {
        margin-left: 82px;
    }

    .header__buttons__container {
        margin-right: 68px;
    }

    .reaction__review-container {
        flex-direction: row;
    }

    .reaction__button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 140px;
        width: 70px;
    }

    .contact-container {
        margin-top: 280px;
        flex-direction: row;
    }

    .contact__img {
        margin-right: 80px;
        width: 50%;
    }

    .contact__info-container {
        margin-top: 0;
    }

    .footer {
        background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%);
        margin-top: 182px;
        padding: 0px;
    }

    .footer__content-container {
        flex-direction: row;
        padding: 0 80px;
        padding-top: 103px;
    }

    .footer__logo img {
        width: 238px;
    }

    .footer__nav {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 0;
    }

    .footer-link__heading {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .footer__link-container li {
        margin-bottom: 30px;
    }
}