@media(min-width: 1024px) {
    .header__logo__container {
        margin-left: 82px;
    }

    .header__buttons__container {
        margin-right: 68px;
    }

    .banner__background__container {
        max-height: 1000px;
    }
}