@media (min-width: 1480px) {
    .service__offer__container {
        justify-content: space-between;
        gap: 0;
    }

    .service__offer {
        width: 22%;
    }

    .categories-container {
        flex-direction: row-reverse;
        gap: 32px;
    }

    .categories__img {
        align-self: start;
        max-width: 870px;
        width: 50%;
    }

    .categories__text-wrapper {
        overflow-y: scroll;
        margin-top: 0;
        height: 550px;
        padding-right: 60px;
    }

    .categories__text-wrapper::-webkit-scrollbar {
        border: 2px solid #FADCD9;
        width: 2px;
    }
    
    .categories__text-wrapper::-webkit-scrollbar-thumb {
        border: 2px solid #F79489;
        width: 2px;
    }
}