@media (min-width: 1480px) {
    .service__offer__container {
        justify-content: space-between;
        gap: 0;
    }

    .service__offer {
        width: 22%;
    }

    .categories-container {
        flex-direction: row-reverse;
        gap: 32px;
    }

    .categories__img {
        align-self: start;
        max-width: 870px;
        width: 50%;
    }

    .trends__product-container {
        gap: 20px;
        justify-content: center;
    }

    .trends__product {
        padding-bottom: 0;
    }

    .footer__logo img {
        margin-right: 274px;
    }

    .footer__nav {
        justify-content: space-between;
    }
}