body {
    font-size: 12px;
    font-family: Poppins, sans-serif;
}

.heading {
  color: #564E4E;
  font-size: 18px;
  font-weight: 500;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header__logo__container {
  margin-left: 20px;
}

.header__nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(0 0 0/ 85%);
  height: 406px;
  width: 100%;
  justify-content: space-evenly;
  left: -100%;
}

.header__nav__container.active {
  left: 0;
}

.header__buttons__container {
  margin-right: 20px;
}

.header__link {
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.header__link:hover {
  color: #F79489;
  transition: color 0.3s ease-in-out;
}

.header__link:nth-child(1) {
  display: flex;
  align-items: center;
}

.header__link:nth-child(1):hover .header__chevron {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.header__chevron {
  margin-left: 3px;
  width: 12px;
  transform: rotate(0);
  transition: transform 0.5s ease-in-out;
}

.header__buttons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59px;
}

.header__basketButton__container {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.basket__circle {
  width: 8px;
  height: 8px;
  background-color: #F79489;
  position: absolute;
  top: 3px;
  right: 0;
  border-radius: 50px;
}

.header__buttonMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: relative;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.header__buttonMenu::before {
  content: "";
  width: 22px;
  height: 2.4px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 5px;
  right: 1px;
  transition: transform 0.5s ease-in-out;
}

.header__buttonMenu::after {
  content: "";
  width: 22px;
  height: 2.4px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
  right: 1px;
  transition: transform 0.5s ease-in-out;
}

.header__buttonMenu span {
  width: 22px;
  height: 2.4px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__buttonMenu.active span {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.header__buttonMenu.active::after {
  transform: rotate(-44deg);
  bottom: 11px;
  transition: transform 0.5s ease-in-out;
}

.header__buttonMenu.active::before {
  transform: rotate(44deg);
  top: 11px;
  transition: transform 0.5s ease-in-out;
}

@media(max-width: 739px) {
  .header__nav__container {
    transition: left 0.5s ease-in-out;
  }
}

.banner__container {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.banner__heading {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  max-width: 300px;

}

.banner__paragraph {
  margin-top: 19px;
  margin-bottom: 0;
  line-height: 24px;
  color: #fff;
  max-width: 290px;
}

.banner__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #FAF5F2;
  border: none;
  padding: 0;
  cursor: pointer;
}

.banner__form__container {
  margin-top: 19px;
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  width: 100%;
  height: 32px;
  justify-content: space-between;
  max-width: 262px;
  padding-right: 4px;
  padding-top: 5px;
  padding-left: 7px;
}

.banner__input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  height: 28px;
  font-size: 10px;
}

.banner__input::placeholder {
  color: #fff;
}

.banner__slider-button__container {
  display: flex;
  justify-content: space-between;
  width: 34px;
  margin-top: 90px;
}

.banner__slider-button {
  width: 5.5px;
  height: 6px;
  background-color: #FADCD9;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.banner__slider-button:hover {
  background-color: #F79489;
  transition: background-color 0.4s ease-in-out;
}

.banner__background__container {
  display: flex;
  position: absolute;
  top: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  max-height: 406px;
}

.background__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.background__img.current {
  opacity: 1;
}

.background__img:first-child {
  opacity: 1;
}

.service__container {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  padding: 0 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.service__heading {
  display: none;
  color: #564E4E;
}

.service__offer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service__offer {
  display: flex;
  flex-direction: column;
  padding: 9px 5px 14px 9px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.service__offer:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
  transition: all 0.3s ease-in-out;
}

.service__offer__img {
  width: 28px;
  height: 28px;
}

.service__offer__heading {
  font-size: 12px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 4px;
  color: #564E4E;
}

.service__offer__text {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #564E4E;
  line-height: 24px;
}

.service__offer__link {
  font-size: 12px;
  color: #F79489;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
}

.categories-container {
  display: flex;
  flex-direction: column;
  margin-top: 102px;
  padding: 0 20px;
}

.categories__heading {
  margin: 0;
}

.categories__paragraph {
  margin-top: 27px;
  line-height: 24px;
  margin-bottom: 0;
}

.categories__text-wrapper {
  margin-top: 109px;
}

.categories__section-container {
  margin-top: 45px;
}

.categories__section {
  margin-bottom: 15px;
}

.categories__section:nth-child(1) {
  margin-bottom: 0;
}

.section__heading-container {
  display: flex;
  justify-content: space-between;
}

.section__heading {
  margin: 0;
  font-weight: 400;
  color: #564E4E;
  font-size: 12px;
}

.section__paragraph {
  color: #564E4E;
  font-weight: 300;
  line-height: 24px;
  margin-top: 15px;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.8s ease, margin-bottom 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  overflow: hidden;
}

.section__paragraph.active {
  margin-bottom: 46px;
  opacity: 1;
  max-height: 100vh;
  transition: opacity 0.3s ease-in-out, max-height 1.5s ease-in, margin-bottom 0.8s ease-in-out, margin-top 0.5s ease-in-out;
  overflow: auto;
}

.section__button-container {
  position: relative;
  background: none;
  border: none;
  padding: 0;
}

.section__button-line {
  width: 10px;
  height: 0;
  border: 1px solid #F79489;
  cursor: pointer;
  background-color: #F79489;
}

.section__button-line::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 0;
  border: 1px solid #F79489;
  transform: rotate(90deg);
  top: 6px;
  left: 0;
  opacity: 1;
  transition: transform 0.5s ease-in-out;
  background-color: #F79489;
}

.section__button-container.active .section__button-line::before {
  transform: rotate(0);
}

.categories__section-link {
  color: #F79489;
  text-decoration: none;
  font-weight: 400;
}

.trends-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-top: 242px;
}

.trends__heading {
  text-align: center;
  margin: 0;
}

.trends__product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.trends__product {
  display: flex;
  flex-direction: column;
  width: 48%;
  text-decoration: none;
  padding-bottom: 37px;
}

.product__info-container {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  padding-left: 16px;
}

.product__name {
  font-size: 14px;
  color: #564E4E;
}

.product__category {
  color: #C4C4C4;
}

.rating__img {
  width: 12px;
}

.product__price {
  color: #564E4E;
}

.product__name, .product__category, .product__rating-container, .product__price {
  margin-bottom: 17px;
}

.product__info-container span:last-child {
  margin-bottom: 0;
}